@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/proxima/ProximaNova-Regular.otf').format('opentype');
}

Body {
    font-family: 'Roboto Mono', monospace;
}

/* Navbar */
.navbar {
    height: 100px;
}

.nav-link {
    color: #FFC000 !important;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
}

.navbar li {
    padding-right: 30px;
}

.navbar .btn,
.courses .btn,
.newsletter .btn {
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, #FF8A00 95.8%);
    border-color: #FFC000;
}

/* Jumbotron */
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 157.38%;
}

.jumbotron {
    background-image: url(../img/sunny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: #FFF7DF;
}

.jumbotron .btn,
.stories .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    background: #FFF7DF;
    border-color: #FFF7DF;
    color: #FFC000;
}

/* Service */
.service {
    min-height: 560px;
    background: #FFF7DF;
    color: #5C5C5C;
}

h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 158.34%;
    color: #FF8A00;
}

h6 {
    font-weight: 900;
    font-size: 20px;
    line-height: 182.7%;
}

p .courses a {
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
}

/* Stories */
.stories {
    height: 832px;
    background-image: url('../img/stories.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.stories p {
    line-height: 175.78%;
}

/* Courses */
.courses {
    min-height: 1126px;
}

.courses a {
    text-decoration: none;
    color: #5C5C5C;
    padding-right: 2%;
}

.courses .card {
    height: 279px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.courses img {
    height: 70%;
    padding: 5px;
}

.courses .card-body,
.courses .card-top {
    background: linear-gradient(219.26deg, #FFC000 1.55%, #FF8A00 95.0%);
    font-size: 14px;
    line-height: 152.34%;
    color: #FFFFFF;
}

.courses .card-top {
    width: 70px;
    height: 33px;
    position: absolute;
    right: 0;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

/* Newsletter */
.newsletter {
    min-height: 533px;
    background-image: url('../img/background.svg');
    position: relative;
}

.newsletter .display-h4 {
    font-weight: bold;
    font: size 24px;
    line-height: 28px;
    color: #FF8A00;
    margin-top: 150px;
}

.newsletter .btn {
    width: 180px;
}

.newsletter .imgs {
    position: absolute;
    left: 0;
    top: 0;
}

/* Contact */
.contact {
    min-height: 314px;
    background: #212121;
    color: white;
    padding: 20px;
}

.contact li {
    list-style: none;
}